body {
    background-color: rgba(0, 0, 0, 0.897);
  }
h1{
  font-family: 'Courier New', Courier, monospace;
  color: #f0af37;
}
p{
  font-family: 'Courier New', Courier, monospace;
  color: #f0af37;
}